* {
    padding: 0;
    margin: 0;
    transition: all ease 0.3s;
}

body {
    background-color: #03111f;
    color: #fff;
    height: 100vh;
}

.main_nav {
    padding: 10px 20px;
}

.hs_nav_links li {
    display: inline-block;
}

.hs_nav_links a {
    color: #fff;
    text-decoration: none;
}

.hs_text_box {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    color: #fff;
}

/* Projects Page */

.projects {
    padding: 20px;
}

.project_div {
    position: relative;
    max-width: 280px;
    max-height: 280px;
}

.project_div a {
    text-decoration: none;
    color: #fff;
}

.project_div img {
    width: 100%;
}

.description_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0,0,0,.9);
    text-align: center;
}

.project_desc {
    display: none;
}

/* Ceaser Cipher Project */

.hs_cipher_input {
    padding-bottom: 15px;
}

.hs_ceasar_cipher {
    border: 1px solid #FF5F1F;
    border-radius: 10px;
    padding: 20px;
}

.hs_cipher_btn {
    padding: 5px;
    border-radius: 5px;
    background-color: #0FFF50;
    border: 1px solid;
    border-color: #0fff50;
}

.hs_decipher {
    background-color: #FF5F1F;
    border-color: #FF5F1F;
}

.hs_cipher_btn:hover {
    background-color: transparent;
    color: #fff;
}